{{> header}}


  <section class="content">

    {{!-- <aside class="left"> --}}
        <h1>Welcome!</h1>
        <h3>Whitespace is a proof of concept digital white-boarding app for remote tech screens &amp; code challenges.</h3>
    {{!-- </aside> --}}


  </section>

{{> footer}}
